
.subtitles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitles2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Meet the Team */
.member-card {
    background: none;
    background-color: none;
    border: none;
    max-width: 300px;
    min-width: 300px;
    transition: none;
}

.member-card:hover {
    box-shadow: none;
}

.member-img {
    width: 100%;
}

.member-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.mem-card-text {
    padding-top: 70px;
}

.stat-icon {
    width: 27px;
    float: left;
    padding-right: 10px;
    padding-top: 3px;
    margin-top: -10px;
}

.mem-stats-text {
    margin-top: -10px;
}


/* Total Stats */
.stats-row {
    padding: 10px;
    justify-content: center;
}

.stats-col {
    text-align: center;
    padding-bottom: 40px;
}


/* Data and APIs */
.data-card {
    background: none;
    background-color: none;
    border: none;
    text-align: center;
    max-width: 20%;
    min-width: 200px;
    transition: none;
}

.data-card:hover {
    box-shadow: none;
}

.data-img:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}

.data-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}


/* Tools */
.tool-card {
    text-align: center;
    background: none;
    border: none;
    max-width: 15%;
    min-width: 150px;
    padding: 10px;
    transition: none;
}

.tool-card:hover {
    box-shadow: none;
}

.tool-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.tool-img:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}


/* GitLab and Postman */
.our-work {
    text-align: center;
    max-width: 20%;
    min-width: 150px;
    background: none;
    border: none;
    padding: 20px;
    transition: none;
    
}

.our-work:hover {
    box-shadow: none;
}

.our-work-img:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}

.our-work-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

