.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner {
  background-image: url("../assets/images/sky.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  color: white;
  margin-bottom: 0;
}

.display-3 {
  font-weight: 350;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  /* background-color: white; */
}

.sec {
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 400px;
  display: flex;
  
  margin-right: auto;
  align-items: center; /* align vertical */
  margin-bottom: 0;
  padding: 5%;
}

.sec1 {
  background-image: url("../assets/images/city.jpg");
  text-align: right;
  justify-content: flex-end;

}

.sec2 {
  background-image: url("../assets/images/earth.jpg");
}

.sec3 {
  background-image: url("../assets/images/turbines.jpeg");
  text-align: right;
  justify-content: flex-end;
}

.secText {
  font-size: 50px;
  font-weight: 400;
}

.lead {
  font-size: 25px;
}

.countryInfoCol {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
}

.pageTitle {
  text-align: center;
  margin-bottom:2%;
}

.countryFlag {
  width:500px;
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cities-image {
  height: 100px;
  width: 70%;
  padding-bottom: 10px;
  margin: auto;
  object-fit: cover;
}

.city-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

@media (max-width:1200px) {
  .city-image {
    height: 250px;
  }
}

.flag {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

@media (max-width:1200px) {
  .flag {
    height: 250px;
  }
}

.countries-image {
  height: 100px;
  width: 50%;
  padding-bottom: 10px;
  margin: auto;
  object-fit: cover;
}

@media (max-width:1000px) {
  .countries-image {
      height: 75px !important;
  }
}

@media (max-width:1250px) {
  .countries-image {
      height: 85px !important;
  }
}

@media (min-width:1600px) {
  .countries-image {
      height: 125px !important;
  }
}

@media (min-width:1800px) {
  .countries-image {
      height: 150px !important;
  }
}

.card {
  transition: box-shadow .3s;
  border: 10 !important;
  margin: 2%;
  flex-wrap: wrap;
  text-align: center;
  /* width: 30%; */
  background-color: rgb(246, 246, 246);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.modelCardText {
  font-size: 14px;
}

.modelCard {
  margin: .5%;
}

.modelCardBody {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 0;
  padding-right: 0;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.cardContainer {
  display:flex;
  width: 100%;
  justify-content: space-around;
  direction: row;
  margin-left: auto;
  margin-right: auto;
}

.cardData {
  display:flex;
  width: 100%;
  flex-direction: column;
}

.card-deck {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(250, 250, 250);
}
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255);
}

.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.scale {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
  text-align: center;
}

.dayData {
  border-radius: 5px;
}

.dayDataContainer {
  background-color: none !important;
  background-clip: none !important;
  border: none !important;
}

.infoTooltip {
  display: inline-block;
  margin-left: 3%;
}

.infoTooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  margin-left: 1%;
  margin-bottom: 5%;
  font-size: 15px;
}

@media (max-width:1400px) {
  .infoTooltip .tooltiptext {
    width: 150px;
  }
}

.infoTooltip .tooltiptext::after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.infoTooltip:hover .tooltiptext {
  visibility: visible;
}

.pagination {
  justify-content: center;
}

.background-jumbotron {
    background: #e9ecef;
}

.row {
  justify-content: center;
}

.countryAqSection {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

/* style for highlighted search results */
.ais-Highlight-highlighted {
  background-color: rgba(2, 116, 216, 0.418);
}

/* style for dropdown on country search card */
.dropdown-menu {
  height: 100px;
  overflow-y: scroll;
}

.spinner-border {
  display:block;
  margin: 5%;
}

.model-search, .model-sort {
  margin-right: 3%;
}

.nav-searchbar {
  margin-right: 3%;
}

.nav-search {
  flex-flow: initial !important;
  margin-right: 2%;
}