.aqi-green {
    background-color: #23c22b;
}

.aqi-yellow {
    background-color: rgb(233, 233, 12);
}

.aqi-orange {
    background-color: rgb(255, 126, 0);
}

.aqi-red {
    background-color: rgb(224, 17, 17);
    color: white;
}

.aqi-purple {
    background-color: rgb(143, 63, 151);
    color: white;
}

.aqi-maroon {
    background-color: rgb(126, 0, 35);
    color: white;
}

.holidays {
    text-align: center;
}