.city-info {
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.info-col {
    padding-bottom: 20px;
}

.info-sect {
    font-weight: bold;
}

.city-media {
    padding-top: 30px;
}

.remove-overflow {
    overflow: hidden;
}