.country-media {
    justify-content: center;
}

.country-info {
    justify-content: center;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 15px;
}

.info-col {
    padding: 10px;
}

.info-sect {
    font-weight: bold;
}


